<div class="col-md-4 mx-auto">
    <h2>{{ 'login' | translate  }}</h2>
    <form name="form" (ngSubmit)="login()" [formGroup]="form">
        <div class="form-group">
            <label for="username">{{ 'login.username.placeholder' | translate }}</label>
            <input type="text" class="form-control" name="username" [formControl]="form.controls['username']" required />
            <div *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="alert-danger">{{ 'login.username.required' | translate }}</div>
        </div>
        <div class="form-group">
            <label for="password">{{ 'password.placeholder' | translate }}</label>
            <input type="password" class="form-control" name="password" [formControl]="form.controls['password']" required />
            <div *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="alert-danger">{{ 'password.required' | translate }}</div>
        </div>
        <div class="form-group">
            <button [disabled]="!form.valid || loading" class="btn btn-primary">{{ 'login' | translate}}</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div class="h5"><a (click)="showForgot()">{{ 'password.forgot' | translate}}</a></div>
        
        <div *ngIf="error" class="alert alert-danger">{{ error | translate }}</div>
        <div *ngIf="msg" class="alert alert-success">{{ msg | translate}}</div>
    </form>
</div>
<div *ngIf="forgotShowing" class="col-md-4 mx-auto">
    <form name="formRecover" (ngSubmit)="recoverPassword()" [formGroup]="formRecover">
        <div class="form-group">
            <label for="email">{{ 'email.placeholder' | translate }}</label>
            <input type="text" class="form-control" name="email" [formControl]="formRecover.controls['email']" required />
            <div *ngIf="formRecover.controls['email'].hasError('required') && formRecover.controls['email'].touched" class="alert-danger">{{ 'email.required' | translate }}</div>
            <div *ngIf="formRecover.controls['email'].hasError('pattern') && formRecover.controls['email'].touched" class="alert-danger">{{ 'email.format' | translate }}</div>
            
        </div>
        <div class="form-group">
            <button [disabled]="!formRecover.valid || loading" class="btn btn-primary">{{ 'password.recover' | translate}}</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
        <div *ngIf="recoverMsg" class="alert alert-success">{{ recoverMsg | translate}}</div>
    </form>
</div>