<!-- main app container -->
<menu-component></menu-component>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
           <router-outlet></router-outlet>
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li *ngFor="let lang of supportedLangs">
            <a (click)="selectLang(lang.value)"
            [class.active]="isCurrentLang(lang.value)">
           
            {{ lang.display | translate }}
            </a>
        </li>
    </ul>
</nav>