<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" *ngIf="!authService.isLogged()" ><a class="nav-link" routerLink="/login" routerLinkActive="active">{{ 'login' | translate }}</a></li>
            <li class="nav-item" *ngIf="!authService.isLogged()" ><a class="nav-link" routerLink="/signup" routerLinkActive="active">{{ 'signup' | translate }}</a></li>
            <li class="nav-item" *ngIf="authService.isLogged()"><a class="nav-link">{{ authService.getCurrentUser().name }}</a></li>
            <li class="nav-item" *ngIf="authService.isRole('ADMIN')">
                    <a class="nav-link" routerLink="/admin/users" routerLinkActive="active">
                {{ "users" | translate }}
                    </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" *ngFor="let lang of supportedLangs">
                <a class="nav-link" (click)="selectLang(lang.value)"
                [class.active]="isCurrentLang(lang.value)">
            
                {{ lang.display | translate }}
                </a>
            </li>
        </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
    <div class="container">
           <router-outlet></router-outlet>
    </div>
</div>
<footer class="footer">
      <div class="container">
        <p class="text-muted"><a href="https://github.com/ChristianSP/nodeAPI-Angular2" >{{ 'github' | translate }}</a></p>
      </div>
</footer>