<!-- main app container -->
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li *ngIf="!authService.isLogged()" ><a routerLink="/login" routerLinkActive="active">{{ 'login' | translate }}</a></li>
      <li *ngIf="!authService.isLogged()" ><a routerLink="/signup" routerLinkActive="active">{{ 'signup' | translate }}</a></li>
      <li *ngIf="authService.isLogged()"><a>{{ authService.getCurrentUser().name }}</a></li>
      <li class="pull-left" *ngIf="authService.isRole('ADMIN')">
            <a routerLink="/admin/users" routerLinkActive="active">
           {{ "users" | translate }}
            </a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
        <li *ngFor="let lang of supportedLangs">
            <a (click)="selectLang(lang.value)"
            [class.active]="isCurrentLang(lang.value)">
           
            {{ lang.display | translate }}
            </a>
        </li>
    </ul>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
           <router-outlet></router-outlet>
        </div>
    </div>
</div>
